<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Newsletter House of Skills</title>
    <style type="text/css">
        a.color-active-orange {
            color: #ff671d;
        }
        a.color-active-white {
            color: #fff;
        }
    </style>
</head>

<body>
<center>
    <table style="width: 560px; background: white;color:#76797a ;border:none;font-family:Arial;margin: 0 auto;" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <img src="{{ email.image('@hos_images/top2.png') }}"
                     alt="kliknij aby wy&#347;wietli&#263; wszytskie obrazki"
                     style="display: block;" width="560"/>
            </td>
        </tr>
        <tr>
            <td valign="middle"
                style="color:#76797a ;border:none;font-family:Arial;text-align: left;line-height: 1.2em; padding-top: 10px;">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td valign="top">
                            <a href="https://www.houseofskills.pl/strefawiedzy/blog/pracownikocentrycznosc" target="_blank">
                                <img src="{{ email.image('@hos_images/pic1.jpg') }}" alt="kliknij, aby zopbaczyć obrazek" />
                            </a>
                        </td>

                        <td>
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td valign="top"
                                        style="font-family: Arial, sans-serif;;font-size:13px;padding-left:20px;line-height: 15px;color:#75777a; height: 190px;">
                                        <h1 style="font-size:15px;color:#ff681e; margin: 0 0 10px 0;">Pracownikocentryczność</h1>
                                        Zapraszamy do lektury pierwszego<br>
                                        z 10 najważniejszych,<br>
                                        według ekspertów House of Skills,<br>
                                        trendów w rozwoju pracowników<br>
                                        na rok 2020.<br>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="bottom" style="height: 25px; padding-left: 20px;">
                                        <a style="color:white;text-decoration: none;"
                                           href="https://www.houseofskills.pl/strefawiedzy/blog/pracownikocentrycznosc"
                                           target="_blank">
                                            <img src="{{ email.image('@hos_images/czytaj.png') }}" alt="kliknij, aby zobaczyc obrazki"
                                                 style="display: block; width:210px; height: 25px; max-width: 210px; max-height: 25px;" width="210" />
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <br/>
            </td>
        </tr>
        <tr>
            <td style="height:20px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <a href="https://www.houseofskills.pl/strefawiedzy/film/jakimi-wartosciami-kieruja-sie-dzis-menedzerowie-ktore-kiedys-byly-mniej-istotne-opinia-ewy-szymalkowskiej/"
                               target="_blank">
                                <img src="{{ email.image('@hos_images/p1.jpg') }}" alt="kliknij, aby zobaczyć obrazek" width="280"
                                     style="width: 280px;"/>
                            </a>
                        </td>
                        <td>
                            <a href="https://www.houseofskills.pl/strefawiedzy/film/jakimi-wartosciami-kieruja-sie-dzis-menedzerowie-ktore-kiedys-byly-mniej-istotne-opinia-henryka-puszcza/"
                               target="_blank">
                                <img src="{{ email.image('@hos_images/p2.jpg') }}" alt="kliknij, aby zobaczyć obrazek" width="280"
                                     style="max-width:100% !important"/>
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height:20px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <a href="https://www.houseofskills.pl/strefawiedzy/film/co-pracownicy-musza-wiedziec-i-umiec-czego-nie-potrzebowali-25-lat-temu-opinia-malgorzaty-milczarek/"
                               target="_blank">
                                <img src="{{ email.image('@hos_images/p3.jpg') }}" alt="kliknij, aby zobaczyć obrazek" width="280"
                                     style="width: 280px;max-width:100% !important"/>
                            </a>
                        </td>
                        <td>
                            <a href="https://www.houseofskills.pl/strefawiedzy/film/co-pracownicy-musza-wiedziec-i-umiec-czego-nie-potrzebowali-25-lat-temu-opinia-malgorzaty-majcherczyk/"
                               target="_blank">
                                <img src="{{ email.image('@hos_images/p4a_03.jpg') }}" alt="kliknij, aby zobaczyć obrazek" width="280"
                                     style="width: 280px;max-width:100% !important"/>
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height:20px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <a href="https://www.houseofskills.pl/strefawiedzy/film/jak-zmienily-sie-standardy-przywodztwa-w-ciagu-ostatnich-25-lat-opinia-wojciecha-lorenca/"
                               target="_blank">
                                <img src="{{ email.image('@hos_images/p5.jpg') }}" alt="kliknij, aby zobaczyć obrazek" width="280"
                                     style="width: 280px;max-width:100% !important"/>
                            </a>
                        </td>
                        <td>
                            <a href="https://www.houseofskills.pl/strefawiedzy/film/jak-zmienily-sie-standardy-przywodztwa-w-ciagu-ostatnich-25-lat-opinia-eksperta-house-of-skills-piotr-gryko/"
                               target="_blank">
                                <img src="{{ email.image('@hos_images/p6.jpg') }}" alt="kliknij, aby zobaczyć obrazek" width="280"
                                     style="width: 280px;max-width:100% !important"/>
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height:20px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td valign="top"
                                        style="font-family: Arial, sans-serif;;font-size:13px; line-height: 15px;color:#75777a; height: 190px;">
                                        <h1 style="font-size:15px;color:#ff681e; margin: 0 0 10px 0;">
                                            „Przyślijcie konsultanta,<br/>
                                            będziemy zmieniać wszystko”,<br/>
                                            czyli 25 lat towarzyszenia <br/>
                                            w rozwoju
                                        </h1>
                                        Przypominamy niektóre znaczące<br>
                                        zmiany polskich przedsiębiorstw<br>
                                        ostatniego ćwierćwiecza,<br>
                                        przy których byliśmy obecni<br><br/>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" valign="bottom" style="height: 25px; padding-right: 24px;">
                                        <a style="color:white;text-decoration: none;"
                                           href="https://www.houseofskills.pl/strefawiedzy/blog/przyslijcie-konsultanta-bedziemy-zmieniac-wszystko-czyli-25-lat-towarzyszenia-w-rozwoju/"
                                           target="_blank">
                                            <img src="{{ email.image('@hos_images/czytaj2.png') }}" alt="kliknij, aby zobaczyc obrazki"
                                                 style="width:210px; height: 25px; max-width: 210px; max-height: 25px; display: block;" width="210" />
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td valign="top">
                            <a href="https://www.houseofskills.pl/strefawiedzy/blog/przyslijcie-konsultanta-bedziemy-zmieniac-wszystko-czyli-25-lat-towarzyszenia-w-rozwoju/" target="_blank">
                                <img src="{{ email.image('@hos_images/img2.jpg') }}" alt="kliknij, aby zopbaczyć obrazek" />
                            </a>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td style="height:20px;">&nbsp;</td>
        </tr>
        <tr>
            <td valign="middle"
                style="color:#76797a ;border:none;font-family:Arial;text-align: left;line-height: 1.2em">
                <div style="width:100%;height:10px;"></div>
                <table cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td valign="bottom">
                            <a href="https://www.houseofskills.pl/strefawiedzy/wp-content/uploads/2019/12/25-porad-na-25-lecie-House-of-Skills.pdf" target="_blank">
                                <img src="{{ email.image('@hos_images/img3.jpg') }}" alt="kliknij, aby zopbaczyć obrazek" />
                            </a>
                        </td>

                        <td>
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td valign="top"
                                        style="font-family: Arial, sans-serif;;font-size:13px; line-height: 15px;color:#75777a; height: 190px; padding-left: 24px;">
                                        <h1 style="font-size:15px;color:#ff681e; margin: 0 0 10px 0;">
                                            25 porad dla menadżerów<br/>
                                            na 25 lat House of Skills
                                        </h1>
                                        Z okazji 25-lecia zapytaliśmy<br/>
                                        zespół ekspertów House of Skills<br/>
                                        w jakie działania menadżerskie<br/>
                                        wierzy najbardziej.<br/><br/><br/><br/>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" valign="bottom" style="height: 25px; padding-left: 24px;">
                                        <a style="color:white;text-decoration: none;"
                                           href="https://www.houseofskills.pl/strefawiedzy/wp-content/uploads/2019/12/25-porad-na-25-lecie-House-of-Skills.pdf"
                                           target="_blank">
                                            <img src="{{ email.image('@hos_images/czytaj2.png') }}" alt="kliknij, aby zobaczyc obrazki"
                                                 style="width:210px; height: 25px; max-width: 210px; max-height: 25px;" width="210" />
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <br/>
            </td>
        </tr>
        <tr>
            <td style="height:20px;">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#75777a"
                style="background:#75777a;color:white;font-family: Arial, sans-serif;padding:20px;font-size: 12px;">
                <img src="{{ email.image('@hos_images/calendar.png') }}" alt="kliknij, aby zobaczyc"/><br/><br/>
                <table cellpadding="0" cellspacing="0" border="0" style="width: 100%; border: none;">

                    <tr>
                        <td colspan="2" style="height: 20px"></td>
                    </tr>
                    <tr>
                        <td valign="top" colspan="2">
                            <table cellspacing="0" cellpadding="0" border="0" style="border: none;">
                                <tr>
                                    <td height="40" style="background-color: #ff671d; padding: 0 30px; height: 40px; vertical-align: middle; font-family: Arial, sans-serif;font-weight: bold; color: #fff">
                                        23.01.2020
                                    </td>
                                    <td style="padding-left: 20px;">
                                        <a href="https://www.houseofskills.pl/pl/aktualnosci,5/316,wystapienie-house-of-skills-ma-hr-directors-summit-23-stycznia-2020-r.html" style="color:#fff;text-decoration: none;" class="color-active-white" target="_blank">
                                            HR Directors Summit
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="height: 20px;"></td>
                                </tr>
                                <tr>
                                    <td height="40" style="background-color: #ff671d; padding: 0 30px; height: 40px; vertical-align: middle; font-family: Arial, sans-serif;font-weight: bold; color: #fff">
                                        24.01.2020
                                    </td>
                                    <td style="padding-left: 20px;mso-line-height-rule: exactly; line-height: 100%; line-height: 12px;">
                                        <a href="https://www.houseofskills.pl/szkolanegocjacji" style="color:#fff;text-decoration: none;" class="color-active-white" target="_blank">
                                            Pierwsza w Polsce Szkoła negocjacji oparta napraktyce biznesowej, XIII edycja
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right" style="background:#75777a;color:white;font-family: Arial;padding:20px;font-size: 12px;">
                            <br/>
                            <a href="mailto:?subject=Do%C5%9Bwiadczenie,%20kt%C3%B3re%20zmienia&body=Witaj,%20Polecam%20Stref%C4%99%20Wiedzy%20prowadzon%C4%85%20przez%20ekspert%C3%B3w%20z%20House%20of%20Skills.%20Pod%20adresem:%20https://www.houseofskills.pl/%20znajdziesz%20wiele%20artyku%C5%82%C3%B3w%20eksperckich,%20jak%20r%C3%B3wnie%C5%BC%20propozycj%C4%99%20szkole%C5%84%20z%20r%C3%B3%C5%BCnych%20obszar%C3%B3w.%0DMasz%20te%C5%BC%20mo%C5%BCliwo%C5%9B%C4%87%20zapisania%20si%C4%99%20do%20newslettera:%20https://www.houseofskills.pl/newsletter-ktory-zmienia.">
                                <img src="{{ email.image('@hos_images/share.gif') }}" alt="nacisnij, aby zobaczyć obrazek" />
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-family: Arial, sans-serif;font-size: 16px;text-align: center;">
                <br>
                Jeśli chcesz częściej korzystać z inspiracji branżowych i wiedzy naszych
                ekspertów zapraszamy do naszej <a href="https://www.houseofskills.pl/strefawiedzy/" style="color:#ff671d;" class="color-active-orange">Strefy Wiedzy</a>.
                <br><br>
            </td>
        </tr>
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" style="width: 100%;">
                    <tr>
                        <td align="left" style="width: 50%;">
                            <a href="https://www.linkedin.com/company/house-of-skills" target="_blank">
                                <img src="{{ email.image('@hos_images/linkedin.jpg') }}" alt="LinkedIn" style="width: 250px; max-width: 250px;" width="250" />
                            </a>
                        </td>
                        <td align="right" style="width: 50%;">
                            <a href="https://www.youtube.com/user/houseofskills1" target="_blank">
                                <img src="{{ email.image('@hos_images/youtube.jpg') }}" alt="Youtube" style="width: 250px; max-width: 250px;" width="250" />
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;font-family: Arial;font-size:10px; padding-top: 20px;">
                Wysłaliśmy do Ciebie ten mail, ponieważ subskrybujesz newsletter House of Skills. Administratorem Twoich
                danych<br/>osobowych jest Konsorcjum doradczo-szkoleniowego S.A. ul. Równoległa 4a, 02-235 Warszawa.
                Możesz skorzystać <br/>z wielu przysługujących Ci uprawnień (w tym cofnąć zgodę w każdym czasie). Więcej
                w naszej
                <a href="https://www.houseofskills.pl/pl/10,polityka-prywatnosci.html">Polityce Prywatności</a><br/>
            </td>
        </tr>
    </table>
</center>
</body>
</html>