<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Newsletter House of Skills</title>
    <style type="text/css">
        img {
            display: block;
        }
    </style>
</head>

<body>
<center>
    <table border="0" cellpadding="0" cellspacing="0" style="width: 627px;">
        <!-- HEADER, LOGO, DATA -->
        <tr>
            <td style="height: 104px;">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="vertical-align: top;">
                            <table border="0" cellspacing="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <img src="{{ email.image('@hos_feb_2020/hos_03.gif') }}" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 15px;"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-family: Arial, sans-serif; font-size: 16px;  color: #797979;">
                                            12 lutego 2020 r.
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width: 286px;"></td>
                        <td style="vertical-align: top;">
                            <img src="{{ email.image('@hos_feb_2020/hos_06.gif') }}" alt="">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- POCZYTAJ -->
        <tr>
            <td style="vertical-align: top; height: 90px;">
                <img src="{{ email.image('@hos_feb_2020/hos_12.gif') }}" alt="">
            </td>
        </tr>
        <!-- STORYTELLING -->
        <tr>
            <td style="height: 187px; vertical-align: top;">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="2" style="height: 24px; vertical-align: top;">
                            <span style="font-family: Arial, sans-serif; font-size: 18px; font-weight: bold;">
                                Storytelling. Kompetencja przyszłości czy moda, która przeminie?
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>
                                        <a href="https://www.houseofskills.pl/strefawiedzy/blog/storytelling-kompetencja-przyszlosci-czy-moda-ktora-przeminie/">
                                            <img src="{{ email.image('@hos_feb_2020/hos_17.jpg') }}" alt="">
                                        </a>
                                    </td>
                                    <td style="width: 12px;"></td>
                                    <td>
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td style="vertical-align: top; height: 98px; line-height: 16px;">
                                                    <span style="font-family: Arial, sans-serif; font-size: 14px; color: #797979;">
                                                        W zeszłym roku uczestniczyłem w konferencji ATD <br>
                                                        w Waszyngtonie, która skupia osoby z całego świata, <br>
                                                        zawodowo zajmujące się rozwojem kompetencji. <br>
                                                        Pojęcie „storytelling”, było tam odmieniane przez wszystkie <br>
                                                        przypadki.
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="https://www.houseofskills.pl/strefawiedzy/blog/storytelling-kompetencja-przyszlosci-czy-moda-ktora-przeminie/">
                                                        <img src="{{ email.image('@hos_feb_2020/hos_22.gif') }}" alt="">
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- 5 SYTUACJI -->
        <tr>
            <td style="height: 187px; vertical-align: top;">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="2" style="height: 24px; vertical-align: top;">
                            <span style="font-family: Arial, sans-serif; font-size: 18px; font-weight: bold;">
                                Pięć sytuacji, w których potrzebujesz historii
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>
                                        <a href="https://www.houseofskills.pl/strefawiedzy/blog/piec-sytuacji-w-ktorych-potrzebujesz-historii/">
                                            <img src="{{ email.image('@hos_feb_2020/hos_27.jpg') }}" alt="">
                                        </a>
                                    </td>
                                    <td style="width: 12px;"></td>
                                    <td>
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td style="vertical-align: top; height: 98px; line-height: 16px;">
                                                    <span style="font-family: Arial, sans-serif; font-size: 14px; color: #797979;">
                                                        Z czego pamiętasz swojego najlepszego szefa? <br>
                                                        Jak wspominasz pierwszy, a jak najtrudniejszy dzień <br>
                                                        w pracy? Jaka sytuacja ostatnio dała ci powód do dumy? <br>
                                                        Zgadujmy: to są żywe obrazy. Nic innego nie wywiera<br>
                                                        tak silnego wpływu, jak historia.
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="https://www.houseofskills.pl/strefawiedzy/blog/piec-sytuacji-w-ktorych-potrzebujesz-historii/">
                                                        <img src="{{ email.image('@hos_feb_2020/hos_22.gif') }}" alt="">
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- ZAINSPIRUJ SIE -->
        <tr>
            <td style="vertical-align: top; height: 90px;">
                <img src="{{ email.image('@hos_feb_2020/hos_33.gif') }}" alt="">
            </td>
        </tr>
        <!-- STORYTELLING W BIZNESIE -->
        <tr>
            <td style="height: 208px; vertical-align: top;">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="2" style="height: 44px; vertical-align: top;">
                            <span style="font-family: Arial, sans-serif; font-size: 18px; font-weight: bold;">
                                Storytelling w biznesie.<br>
                                Jak zmienić zwykły komunikat w angażującą historię?
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>
                                        <a href="https://www.houseofskills.pl/strefawiedzy/film/storytelling-w-biznesie-jak-zmienic-zwykly-komunikat-w-angazujaca-historie/">
                                            <img src="{{ email.image('@hos_feb_2020/hos_37.png') }}" alt="">
                                        </a>
                                    </td>
                                    <td style="width: 12px;"></td>
                                    <td>
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td style="vertical-align: top; height: 98px; line-height: 16px;">
                                                    <span style="font-family: Arial, sans-serif; font-size: 14px; color: #797979;">
                                                        Obejrzyj wideo i dowiedz się, co możesz zrobić,<br>
                                                        by wykorzystywać historie do realizacji swoich celów<br>
                                                        zawodowych. Poznaj cztery zasady storytellingu.
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="https://www.houseofskills.pl/strefawiedzy/film/storytelling-w-biznesie-jak-zmienic-zwykly-komunikat-w-angazujaca-historie/">
                                                        <img src="{{ email.image('@hos_feb_2020/hos_42.gif') }}" alt="">
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- PO CO MENEDZEROWI -->
        <tr>
            <td style="height: 194px; vertical-align: top;">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="2" style="height: 24px; vertical-align: top;">
                            <span style="font-family: Arial, sans-serif; font-size: 18px; font-weight: bold;">
                                Po co menedżerowi historie?
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <a href="https://www.houseofskills.pl/strefawiedzy/wp-content/uploads/2020/02/Po-co-menedzerowi-historie.pdf">
                                            <img src="{{ email.image('@hos_feb_2020/hos_48.jpg') }}" alt="">
                                        </a>
                                    </td>
                                    <td style="width: 12px;"></td>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="vertical-align: top; height: 98px; line-height: 16px;">
                                                    <span style="font-family: Arial, sans-serif; font-size: 14px; color: #797979;">
                                                        Dziś historiami biznesowymi posługujemy się<br>
                                                        m. in. w promocji, marketingu, sprzedaży, szkoleniach.<br>
                                                        Opowieści mogą się także stać istotną częścią twojego<br>
                                                        przywództwa. Obejrzyj infografikę i dowiedz się jak, tworzyć<br>
                                                        angażujące opowieści.
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="https://www.houseofskills.pl/strefawiedzy/wp-content/uploads/2020/02/Po-co-menedzerowi-historie.pdf">
                                                        <img src="{{ email.image('@hos_feb_2020/hos_42.gif') }}" alt="">
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- ORANGE LINE -->
        <tr>
            <td style="height: 30px; vertical-align: top;">
                <img src="{{ email.image('@hos_feb_2020/hos_54.jpg') }}" alt="">
            </td>
        </tr>
        <!-- KALENDARZ -->
        <tr>
            <td style="background-color: #dcdcdc;">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="height:35px;"></td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td style="width: 30px;"></td>
                                    <td colspan="6">
                                        <!-- Wpisz w kalendarz -->
                                        <img src="{{ email.image('@hos_feb_2020/hos_57.gif') }}" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="7" style="height: 36px;"></td>
                                </tr>
                                <tr>
                                    <!-- 27-28.02.2020 Sztuka prezentacji -->
                                    <td style="width: 30px;"></td>
                                    <td style="vertical-align: top;">
                                        <img src="{{ email.image('@hos_feb_2020/hos_59.gif') }}" alt="">
                                    </td>
                                    <td style="width: 22px"></td>
                                    <td style="width: 231px; vertical-align: top;">
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <img src="{{ email.image('@hos_feb_2020/hos_61.gif') }}" alt="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="height: 10px;"></td>
                                            </tr>
                                            <tr>
                                                <td style="line-height: 16px;">
                                                    <a href="https://www.houseofskills.pl/pl/szkolenia/76,2,24,sztuka-prezentacji.html"
                                                       style="font-family: Arial, sans-serif; font-size: 14px; color: #76797A; text-decoration: none;">
                                                        Sztuka prezentacji
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <!-- 16-17.03.2020 Asertywność -->
                                    <td style="vertical-align: top;">
                                        <img src="{{ email.image('@hos_feb_2020/hos_59.gif') }}" alt="">
                                    </td>
                                    <td style="width: 22px;"></td>
                                    <td style="vertical-align: top;">
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <img src="{{ email.image('@hos_feb_2020/hos_63.gif') }}" alt="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="height: 10px;"></td>
                                            </tr>
                                            <tr>
                                                <td style="line-height: 16px;">
                                                    <a href="https://www.houseofskills.pl/pl/szkolenia/76,1,60,asertywnosc-w-sytuacjach-trudnych-i-konfliktowych.html"
                                                       style="font-family: Arial, sans-serif; font-size: 14px; color: #76797A; text-decoration: none;">
                                                        Asertywność w sytuacjach<br>
                                                        trudnych i konfliktowych
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 60px;"></td>
                                </tr>
                                <tr>
                                    <!-- 2-3.03.2020 Coaching Essentials -->
                                    <td style="width: 30px;"></td>
                                    <td style="vertical-align: top;">
                                        <img src="{{ email.image('@hos_feb_2020/hos_59.gif') }}" alt="">
                                    </td>
                                    <td style="width: 22px"></td>
                                    <td style="width: 231px; vertical-align: top;">
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <img src="{{ email.image('@hos_feb_2020/hos_68.gif') }}" alt="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="height: 10px;"></td>
                                            </tr>
                                            <tr>
                                                <td style="line-height: 16px;">
                                                    <a href="https://www.houseofskills.pl/pl/szkolenia/76,1,33,coaching-essentials-menedzer-jako-coach.html"
                                                       style="font-family: Arial, sans-serif; font-size: 14px; color: #76797A; text-decoration: none;">
                                                        Coaching Essentials<sup>&reg;</sup><br>
                                                        - coaching w pracy menedżera
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <!-- 19.03.2020 Storytelling -->
                                    <td style="vertical-align: top;">
                                        <img src="{{ email.image('@hos_feb_2020/hos_59.gif') }}" alt="">
                                    </td>
                                    <td style="width: 22px;"></td>
                                    <td style="vertical-align: top;">
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <img src="{{ email.image('@hos_feb_2020/hos_70.gif') }}" alt="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="height: 10px;"></td>
                                            </tr>
                                            <tr>
                                                <td style="line-height: 16px;">
                                                    <a href="https://www.houseofskills.pl/pl/aktualnosci,5/319,storytelling-moc-opowiesci-w-biznesie-dzien-otwarty-z-house-of-skills-19-marca-2020-r-w-warszawie.html"
                                                       style="font-family: Arial, sans-serif; font-size: 14px; color: #76797A; text-decoration: none;">
                                                        "Storytelling - moc<br>
                                                        opowieści w biznesie"<br>
                                                        - Dzień otwarty House<br>
                                                        of Skills
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 24px;"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- PROMOCJA -->
        <tr>
            <td style="height: 172px; vertical-align: top;">
                <a href="https://www.houseofskills.pl/pl/35,nasze-promocje.html">
                    <img src="{{ email.image('@hos_feb_2020/hos_72.gif') }}" alt="">
                </a>
            </td>
        </tr>
        <!-- POLEĆ NAS -->
        <tr>
            <td style="height: 63px; vertical-align: top;">
                <a href="mailto:?subject=Do%C5%9Bwiadczenie,%20kt%C3%B3re%20zmienia&body=Witaj,%20Polecam%20Stref%C4%99%20Wiedzy%20prowadzon%C4%85%20przez%20ekspert%C3%B3w%20z%20House%20of%20Skills.%20Pod%20adresem:%20https://www.houseofskills.pl/%20znajdziesz%20wiele%20artyku%C5%82%C3%B3w%20eksperckich,%20jak%20r%C3%B3wnie%C5%BC%20propozycj%C4%99%20szkole%C5%84%20z%20r%C3%B3%C5%BCnych%20obszar%C3%B3w.%0DMasz%20te%C5%BC%20mo%C5%BCliwo%C5%9B%C4%87%20zapisania%20si%C4%99%20do%20newslettera:%20https://www.houseofskills.pl/newsletter-ktory-zmienia.">
                    <img src="{{ email.image('@hos_feb_2020/hos_74.gif') }}" alt="">
                </a>
            </td>
        </tr>
        <!-- STREFA WIEDZY -->
        <tr>
            <td style="height: 55px; vertical-align: top; text-align: center;">
                <span style="font-family: Arial, sans-serif; font-size: 14px; color: #797979; line-height: 16px;">
                    Jeśli chcesz częściej korzystać z inspiracji branżowych i wiedzy naszych ekspertów zapraszamy do naszej <a href="https://www.houseofskills.pl/strefawiedzy/">Strefy Wiedzy</a>.
                </span>
            </td>
        </tr>
        <!-- ORANGE LINE -->
        <tr>
            <td style="height: 30px; vertical-align: top;">
                <img src="{{ email.image('@hos_feb_2020/hos_54.jpg') }}" alt="">
            </td>
        </tr>
        <!-- LINKED IN & YT -->
        <tr>
            <td style="height: 50px; vertical-align: top;">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <a href="https://www.linkedin.com/company/house-of-skills">
                                <img src="{{ email.image('@hos_feb_2020/hos_79.gif') }}" alt="">
                            </a>
                        </td>
                        <td style="width: 101px;"></td>
                        <td>
                            <a href="https://www.youtube.com/user/houseofskills1">
                                <img src="{{ email.image('@hos_feb_2020/hos_81.gif') }}" alt="">
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <span style="font-family: Arial, sans-serif; font-size: 13px; color: #797979; line-height: 16px; text-align: center;">
                    Wysłaliśmy do Ciebie ten mail, ponieważ subskrybujesz newsletter House of Skills.
                    Administratorem Twoich danych osobowych jest Konsorcjum doradczo-szkoleniowego S.A. ul. Równoległa 4a,
                    02-235 Warszawa. Możesz skorzystać z wielu przysługujących Ci uprawnień (w tym cofnąć zgodę w każdym
                    czasie). Więcej w naszej <a href="https://www.houseofskills.pl/pl/10,polityka-prywatnosci.html">Polityce Prywatności</a>.
                </span>
            </td>
        </tr>
    </table>
</center>
</body>
</html>
