<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Newsletter House of Skills</title>
</head>

<body>
<table  width="700" style="background: white;color:#76797a ;border:none;font-family:Arial;margin:0 auto;"  cellpadding="0" cellspacing="0" >
    <tr>
        <td width="20"></td>
        <td align="center" style="border-bottom: 1px solid #ff691e" colspan="2"><img src="{{ email.image('@hos_images_2020_01_15/top.png') }}" alt="Kliknij, aby zobaczyć obrazki" style="width: 660px" /></td>
        <td width="20"></td>
    </tr>
    <tr>
        <td width="20"></td>
        <td align="cleft"  colspan="2"><img src="{{ email.image('@hos_images_2020_01_15/wydanie.png') }}" alt="Kliknij, aby zobaczyć obrazki" style="width: 660px" />
            <table cellpadding="0" cellpadding="0" border="0" style="width:660px" width="660">
                <tr>
                    <td>
                        <a href="https://www.houseofskills.pl/strefawiedzy/wp-content/uploads/2020/01/Trendy-w-rozwoju-pracownik%C3%B3w-na-rok-2020.pdf" target="_blank" ><img src="{{ email.image('@hos_images_2020_01_15/2020.png') }}" alt="Kliknij, aby zobaczyć obrazki" /></a>
                    </td>
                    <td valign="bottom" style="font-family: Arial;color:#76797a;font-size:15px;line-height: 1.35em;">
                        Zapraszamy do lektury zestawienia 10 najważniejszych zjawisk, które będą kształtować przyszłość branży rozwoju ludzi. Podstawą analizy były rozmowy z klientami i ekspertami, wnioski z badań i raportów oraz setki realizowanych przez nas projektów rozwojowych.
                        <br /><br /><a href="https://www.houseofskills.pl/strefawiedzy/wp-content/uploads/2020/01/Trendy-w-rozwoju-pracownik%C3%B3w-na-rok-2020.pdf" target="_blank" ><img src="{{ email.image('@hos_images_2020_01_15/czytaj.png') }}" style="width: 221px" alt="Kliknij, aby zobaczyć obrazki" /></a>
                    </td>
                </tr>
            </table>


        </td>
        <td width="20"></td>
    </tr>
    <tr>
        <td width="20"></td>
        <td align="center" style="border-bottom: 1px solid #ff691e" colspan="2"><br /><br /></td>
        <td width="20"></td>
    </tr>
    <tr>
        <td width="20"></td>
        <td align="center" style="" colspan="2"><br /><br /></td>
        <td width="20"></td>
    </tr>
    <tr>
        <td width="20"></td>
        <td align="left" bgcolor="#f0f0f0" colspan="2">


            <table cellpadding="0" cellpadding="0" border="0" style="width:660px" width="660">
                <tr>
                    <td width="20"></td>
                    <td width="310"><a href="" target="_blank" ><img src="{{ email.image('@hos_images_2020_01_15/wpisz.png') }}" alt="Kliknij, aby zobaczyć obrazki" /></a></td>
                    <td width="310"></td>
                    <td width="20"></td>
                </tr>
                <tr>
                    <td width="20"></td>
                    <td valign="top" width="310">
                        <table cellpadding="0" cellpadding="0" border="0" style="width:310px" width="310">
                            <tr>
                                <td width="82" valign="top"><img src="{{ email.image('@hos_images_2020_01_15/kalendar.png') }}" alt="Kliknij, aby zobaczyć obrazki" /></td>
                                <td valign="top" style="font-family: Arial;font-size:14px;color:#76797a;" >
                                    <h2 style="color:#ff691e;font-size: 18px;font-weight: bold;margin:0 0 10px 0;">24.01.2020 r.</h2>
                                    <a href="" style="color:#76797a;text-decoration: none;" target="_blank" >Pierwsza w Polsce roczna<br />
                                        Szkoła negocjacji oparta <br />na praktyce biznesowej<br />– XIII edycja</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td valign="top" width="310">
                        <table cellpadding="0" cellpadding="0" border="0" style="width:310px" width="310">
                            <tr>
                                <td width="82" valign="top"><a href="https://www.houseofskills.pl/pl/szkolenia/76,1,27,wywieranie-wplywu-w-biznesie.html" style="color:#76797a;text-decoration: none;" target="_blank" ><img src="{{ email.image('@hos_images_2020_01_15/kalendar.png') }}" alt="Kliknij, aby zobaczyć obrazki" /></a></td>
                                <td valign="top" style="font-family: Arial;font-size:14px;color:#76797a;" >
                                    <h2 style="color:#ff691e;font-size: 18px;font-weight: bold;margin:0 0 10px 0;">3 - 4.02.2020 r.</h2>
                                    <a href="https://www.houseofskills.pl/pl/szkolenia/76,1,27,wywieranie-wplywu-w-biznesie.html" style="color:#76797a;text-decoration: none;" target="_blank" >Wywieranie wpływu <br />w biznesie <br />– szkolenie otwarte</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="20"></td>
                </tr>
            </table>



        </td>
        <td width="20"></td>
    </tr>
    <tr>
        <td width="20"></td>
        <td align="left" bgcolor="#f0f0f0" colspan="2">

            <br /><br />
            <table cellpadding="0" cellpadding="0" border="0" style="width:660px" width="660">

                <tr>
                    <td width="20"></td>
                    <td valign="top" width="310">
                        <table cellpadding="0" cellpadding="0" border="0" style="width:310px" width="310">
                            <tr>
                                <td width="82" valign="top"><a href="https://www.houseofskills.pl/pl/szkolenia/76,2,19,negocjacje-biznesowe.html" style="color:#76797a;text-decoration: none;" target="_blank" ><img src="{{ email.image('@hos_images_2020_01_15/kalendar.png') }}" alt="Kliknij, aby zobaczyć obrazki" /></a></td>
                                <td valign="top" style="font-family: Arial;font-size:14px;color:#76797a;" >
                                    <h2 style="color:#ff691e;font-size: 18px;font-weight: bold;margin:0 0 10px 0;">6 - 7.02.2020 r.</h2>
                                    <a href="https://www.houseofskills.pl/pl/szkolenia/76,2,19,negocjacje-biznesowe.html" style="color:#76797a;text-decoration: none;" target="_blank" >Skuteczne <br />negocjacje biznesowe <br />– szkolenie otwarte</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td valign="top" width="310">
                        <table cellpadding="0" cellpadding="0" border="0" style="width:310px" width="310">
                            <tr>
                                <td width="82" valign="top"><a href="https://www.houseofskills.pl/pl/szkolenia/76,2,24,sztuka-prezentacji.html" style="color:#76797a;text-decoration: none;" target="_blank" ><img src="{{ email.image('@hos_images_2020_01_15/kalendar.png') }}" alt="Kliknij, aby zobaczyć obrazki" /></a></td>
                                <td valign="top" style="font-family: Arial;font-size:14px;color:#76797a;" >
                                    <h2 style="color:#ff691e;font-size: 18px;font-weight: bold;margin:0 0 10px 0;">27 - 28.02.2020 r.</h2>
                                    <a href="https://www.houseofskills.pl/pl/szkolenia/76,2,24,sztuka-prezentacji.html" style="color:#76797a;text-decoration: none;" target="_blank" >Sztuka prezentacji <br />– szkolenie otwarte</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="20"></td>
                </tr>
            </table>
            <br /><br />


        </td>
        <td width="20"></td>
    </tr>

    <tr>
        <td></td>
        <td colspan="2" align="center" style=";font-family: Arial;padding:;font-size: 16px;text-align: center;border-bottom: 1px solid #ff691e">
            <br /><br />
            <a href="mailto:?subject=Doświadczenie,%20które%20zmienia&amp;body=Witaj,%20Polecam%20Strefę%20Wiedzy%20prowadzoną%20przez%20ekspertów%20z%20House%20of%20Skills.%20Pod%20adresem:%20https://www.houseofskills.pl/%20znajdziesz%20wiele%20artykułów%20eksperckich,%20jak%20również%20propozycję%20szkoleń%20z%20różnych%20obszarów.%0DMasz%20też%20możliwość%20zapisania%20się%20do%20newslettera:%20https://www.houseofskills.pl/newsletter-ktory-zmienia." title="Poleć nas znajomemu">
                <img src="{{ email.image('@hos_images_2020_01_15/polec.png') }}" style="width:660px " alt="kliknij, aby zobaczyc obrazek" /></a><br /><br />
            Jeśli chcesz częściej korzystać z inspiracji branżowych i wiedzy naszych
            ekspertów zapraszamy do naszej <a href="https://www.houseofskills.pl/strefawiedzy/" style="color:#ff671d;" >Strefy Wiedzy</a>.<br /><br />
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td   align="left" style=";font-family: Arial;font-size: 16px;text-align: left;">
            <a href="https://www.linkedin.com/company/house-of-skills" target="_blank"><img src="{{ email.image('@hos_images_2020_01_15/linkedin.jpg') }}" alt="LinkedIn" style="; border: none;width: 250px"></a>
        </td>
        <td   align="right" style=";font-family: Arial;padding:20px 0 20px 0;font-size: 16px;text-align: right">
            <a href="https://www.youtube.com/user/houseofskills1" target="_blank"><img src="{{ email.image('@hos_images_2020_01_15/youtube.jpg') }}" alt="Youtube" style=" border: none;width:250px;"></a>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2" style="text-align: center;font-family: Arial;font-size:11px;" >

            Wysłaliśmy do Ciebie ten mail, ponieważ subskrybujesz newsletter House of Skills. Administratorem Twoich danych<br />osobowych jest Konsorcjum doradczo-szkoleniowego S.A. ul. Równoległa 4a, 02-235 Warszawa. Możesz skorzystać <br />z wielu przysługujących Ci uprawnień (w tym cofnąć zgodę w każdym czasie). Więcej w naszej
            <a href="https://www.houseofskills.pl/pl/10,polityka-prywatnosci.html">Polityce Prywatności</a>
        </td>
        <td></td>
    </tr>
</table>

</body>
</html>

